{% extends "base.html" %}


{% block content %}
  <center>
    <h1>HTML Geolocation</h1>
    <p>Click the button to get your coordinates.</p>

    <button onclick="getLocation()" class="btn btn-outline-primary">Try It</button>

    <p id="demo"></p>
  </center>
  <script>
  const x = document.getElementById("demo");

  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
    } else { 
      x.innerHTML = "Geolocation is not supported by this browser.";
    }
  }

  function showPosition(position) {
    x.innerHTML = "Latitude: " + position.coords.latitude + 
    "<br>Longitude: " + position.coords.longitude;
  }
  </script>


    

{% endblock content %}